<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Adicionar produto</title>
  <link rel="stylesheet" href="css/adicionar.css">
</head>
<body>
  <div class="card">
    <h1>Adicionar ingrediente</h1>
    <h2>Preencha os dados</h2>

    <div class="campos">
    <label for="Nome">Nome do ingrediente</label>
    <input type="text" placeholder="Digite o nome do ingrediente" name="nome" id="nome" autocomplete="off" maxlength="50">
    </div>

    <div class="campos">
    <label for="Quantidade de produtos">Quantidade (un)</label>
    <input type="number" placeholder="Digite a quantidade de produtos" name="Quantidade de produtos" id="qntd"  autocomplete="off"  maxlength="10">
    </div> 
    
    <div class="campos">
    <label for="Preço">Preço (R$)</label>
    <input type="text" placeholder="Digite o preço do produto" name="Preço" id="preco" autocomplete="off"  maxlength="10">
    </div>
    <label for="erro" id="labelErro">Preencha todos os campos do formulário.</label>

    <button onclick="return valida()" id="cadastrar" class="button">ADICIONAR</button>
  </div>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src ="javascript/jquery/jquery.js"></script>
  <script src ="javascript/jquery/jquery.mask.js"></script>
  <script src="javascript/adicionar.js"></script>
</body>
</html>