<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Adicionar produto</title>
  <link rel="stylesheet" href="css/adicionar.css">
</head>
<body>
  <div class="card">
    <h1>Adicionar produto</h1>
    <h2>Preencha os dados</h2>
    
    <div class="campos">
    <label for="">Nome do produto</label>
    <input>
    </div>

    <div class="campos">
    <label for="">Qntd (un)</label>
    <input>
    </div> 
    
    <div class="campos">
    <label for="">Preço R$)</label>
    <input>
    </div>

    <button>ADICIONAR</button>
  </div>
  
</body>
</html>