<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Estoque</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Vast+Shadow&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/criarlanche.css">
    <link
    href="//cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css"
    rel="stylesheet"
  />
  </head>

  <body>
    <img id="logo" src="images/brand/logo.jpg">
    <div id="mainNavigation">
      <nav role="navigation">
        <div class="py-3 text-center border-bottom">
        </div>
      </nav>
      <div class="navbar-expand-md">
        <div class="navbar-dark text-center my-2">
          <button
            class="navbar-toggler w-75"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
            <span class="align-middle">Menu</span>
          </button>
        </div>
        <div
          class="text-center mt-3 collapse navbar-collapse"
          id="navbarNavDropdown"
        >
          <ul class="navbar-nav mx-auto">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="cardapio.html">Cardapio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="entrega.html">Entrega</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="estoque.html">Estoque</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="lanche.html" id="selecionado">Criar lanche</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdownMenuLink"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Entrar
              </a>
              <ul
                class="dropdown-menu"
                aria-labelledby="navbarDropdownMenuLink"
              >
                <li><a class="dropdown-item" href="register.html">Sou novo aqui</a></li>
                <li><a class="dropdown-item" href="login.html">Já possuo conta</a></li>
                <li><a class="dropdown-item" href="#">Colaborador</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <main class="container main">

      <div class="col-12">
        <div class="row">
          <div class="col-xl-12 col-sm-12 col-md-6 col-lg-10">
            <div class="card">

            </div>
          </div>
        </div>
      </div>


  
  </body>
</html>
