<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Criar lanche</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="icon" href="images/brand/logo.png"/>

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Vast+Shadow&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/criarlanche.css">
    <link
    href="//cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css"
    rel="stylesheet"
  />
  </head>
  <body>
    <div class="card">
      <h1>Criar novo lanche</h1>
      <h2>Preencha os dados</h2>
  
      <div class="campos">
      <label for="Nome">Nome do lanche</label>
      <input type="text" placeholder="Digite o nome do ingrediente" name="nome" id="nome" autocomplete="off" maxlength="50">
      </div>
      
  
      <div class="campos">
      <label for="Preço">Preço de venda(R$)</label>
      <input type="text" placeholder="Digite a quantidade de produtos" name="Preço de venda" id="preco"  autocomplete="off"  maxlength="10">
      </div> 

      <div class="campos">
        <label for="descricao">Descrição</label>
        <input type="text" name="descricao" id="descricao" placeholder="Digite a descrição do lanche" autocomplete="off" maxlength="50">
      </div>

      <div class="campos" id="ingredientes">
        <label for="ingredientes">Adicionar ingredientes</label>
          <select id="ingrediente">
            <option>Selecione o ingrediente</option>
            <option>Pão</option>
            <option>Bacon</option>
            <option>Hamburguer</option>
          </select>
          <button id="adicionar">Adicionar</button>
      </div>
      
      <div class="campos">
        <label for="imagem">Carregar imagem</label>
        <input type="file" name="imagem" id="imagem">
      </div>
      
      <button class="button" id="cadastrar">CRIAR LANCHE</button>
    </div>
    <script src ="javascript/jquery/jquery.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="javascript/ApiCriarLanche.js"></script>
  </body>
</html>
