<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/register.css"/>
  
  <title>Cadastro</title>
</head>
<body>
  <div class="row">
    <div class="left-login">
      <img src="../images/brand/logo.jpg" id="logo">
      <h1><b>É novo por aqui?</b></h1>
      <h2>Cadastre-se aqui</h2>
      <a href="register.html"><button class="button">CADASTRAR</button></a>
    </div>
    <div class="right-login">
      <h1>Faça login</h1>
      <h2></h2>
      <input  id="email" type="text" name="nome" placeholder="Digite seu endereço de email" maxlength="47" autocomplete="off"/>
      <input  id="senha" type="password" name="nome" placeholder="Digite sua senha" maxlength="47" autocomplete="off"/>
      <p id="nav">Já possui conta?&nbsp<a href="login.html">Faça login</a></p>
      <button class="button">ENTRAR</button>
    </div>
  </div>
</body>
</html>