<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/register.css"/>
  
  <title>Cadastro</title>
</head>
<body>
  <div class="row">
    <div class="left-login">
      <img src="images/brand/logo.jpg" id="logo">
      <h1><b>Bem-vindo de volta!</b></h1>
      <h2>Acesse sua conta agora mesmo.</h2>
      <a href="login.html"><button class="button">ENTRAR</button></a>
    </div>
    <div class="right-login">
      <h1>Crie sua conta</h1>
      <h2>Preencha seus dados</h2>
      <input  id="nome" type="text" name="nome" placeholder="Digite seu nome completo" maxlength="47" autocomplete="off"/>
      <input  id="telefone" type="text" name="telefone" placeholder="Digite seu telefone" maxlength="47" autocomplete="off"/>
      <input  id="email" type="text" name="email" placeholder="Digite seu endereço de email" maxlength="47" autocomplete="off"/>
      <input  id="senha" type="password" name="senha" placeholder="Digite sua senha" maxlength="47" autocomplete="off"/>
      <p id="nav">Já possui conta?&nbsp<a href="login.html">Faça login</a></p>
      <button class="button" id="cadastrar">CADASTRAR</button>
      <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
      <script src ="javascript/jquery/jquery.js"></script>
      <script src ="javascript/apiCadastro.js"></script>
    </div>
  </div>
</body>
</html>