<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/login.css" />
    <title>Login</title>
  </head>
  <body>
    <div id="left-login">
      <img src="../images/brand/logo.jpg" id="logo">
      <h1><b>É novo por aqui?</b></h1>
      <h2>Cadastre sua conta agora mesmo.</h2>
      <a href="/cadastro"><button class="button">CADASTRAR</button></a>
    </div>
    <div id="right-login">
      <h1>Faça seu Login</h1>
      <h2>Acessar sua conta</h2>
      <input
        id="nome"
        type="text"
        name="nome"
        placeholder="Digite seu endereço de email"
        maxlength="47"
        autocomplete="off"
      />
      <input
        id="nome"
        type="password"
        name="nome"
        placeholder="Digite sua senha"
        maxlength="47"
        autocomplete="off"
      />
      <button class="button">LOGIN</button>
    </div>
  </body>
</html>
